<!-- <ul *ngFor="let product of getProducts()">
    <li>id: {{ product.id }}, {{ product.name }}, q: {{ product.quantity }}</li>
</ul> -->

<div>

    <app-products [products]="products"></app-products>

    <br>

    <app-add [products]="products"></app-add>


    <br>
    <hr>
    <h2>My learning todo list:</h2>
    <ul>
        <li>search product</li>
        <li>add product</li>
        <li>delete product</li>
        <li>add nav bar with tabs</li>
        <li>handle products in state object</li>
        <li>learn other ng html tags</li>
        <li>learn java spring</li>
        <li>setup a java spring api server for the shopping list</li>
        <li>update the shopping list to get the data from the api server</li>
        <li>create a website for managing boats</li>
        <li>learn ng form validators</li>
        <li>learn scss</li>
    </ul>
</div>